::root {
  --primary-red: #C8102E
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

body {
  font-family: 'Wix Madefor Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}