::root {
  --primary-red: #C8102E
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
}

body {
  font-family: 'Wix Madefor Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.breadcrumb {
  margin: 1rem 0;
}

.breadcrumb ul {
  list-style: none;
  display: flex;
  gap: .5rem;
  align-items: center;
}

.breadcrumb a {
  font-size: 0.875rem;
  color: gray;
  text-decoration: none;
}

.breadcrumb a:hover {
  color: var(--primary-red);
  text-decoration: underline;
}

.breadcrumb i {
  font-size: 14px;
  color: gray;
}